<form [formGroup]="form"
      (ngSubmit)="onFormSubmit()"
      class="form-material"
      style="margin-top: 15px !important">


  <div style="margin-bottom:14px!important;">


    <mat-form-field class="form-element">
      <mat-label>Nombre</mat-label>
      <input matInput
             name="name"
             id="name"
             formControlName="name"
             required />
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Login</mat-label>
      <input matInput
             name="login"
             id="login"
             formControlName="login"
             required />
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Password</mat-label>
      <input matInput
             type="password"
             name="password"
             id="password"
             formControlName="password"
             required />
    </mat-form-field>


  </div>
  <button mat-button type="submit" color="primary">
    Aceptar   
  </button>

</form>
