<ng-container *ngIf="loaded">
  <div class="flexbox">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Tipo de fichero</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="transcriptor">
        <mat-header-cell *matHeaderCellDef>Transcriptor</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.transcriptor}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="grupo">
        <mat-header-cell *matHeaderCellDef>Grupo</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.grupo}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="corpus">
        <mat-header-cell *matHeaderCellDef>Corpus</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.corpus}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="lugar">
        <mat-header-cell *matHeaderCellDef>Lugar</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.lugar}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="soporte">
        <mat-header-cell *matHeaderCellDef>Soporte</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.soporte}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="estado">
        <mat-header-cell *matHeaderCellDef>estado</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.estado}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <mat-header-cell *matHeaderCellDef>Fecha de creación</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.creationDate | date: "dd-MM-yyyy"}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="editaction">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-mini-fab class="minifab-no-shadow" (click)="deleteDocument(element)" *ngIf="!element.isAdmin">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="deleteaction">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-mini-fab class="minifab-no-shadow" (click)="editDocument(element)" *ngIf="!element.isAdmin">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>
  <div class="demo-button-container">
    <button mat-raised-button (click)="uploadDocument()" color="primary">
      Subir documento
    </button>
  </div>
</ng-container>
