<ng-container *ngIf="loaded">
  <div class="flexbox">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.login}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="isadmin">
        <mat-header-cell *matHeaderCellDef>Admin</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isAdmin ? '&#10003;' : '&#10005;'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creationdate">
        <mat-header-cell *matHeaderCellDef>Fecha de creación</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.creationdate | date: "dd-MM-yyyy" }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="deleteaction">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button nz-button nzType="primary" nzShape="circle" (click)="deleteUser(element)" *ngIf="!element.isAdmin">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="editaction">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button nz-button nzType="primary" nzShape="circle" (click)="editUser(element)" *ngIf="!element.isAdmin">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>
  <div class="demo-button-container">
    <button nz-button nzType="primary"(click)="createUser()">
      Crear usuario
    </button>
  </div>
</ng-container>
