.flexbox {
  justify-content: center;
  flex: 0 0 100%;
}

.mat-column-name {
  flex: 0 0 33%;
}

.mat-column-login {
  flex: 0 0 33%;
}

.mat-column-isadmin {
  flex: 0 0 10%;
}

.mat-column-creationdate {
  flex: 0 0 10%;
}

.mat-column-editaction {
  flex: 0 0 5%;
  box-shadow:none!important;
}

.mat-column-deleteaction {
  flex: 0 0 5%;
}
.minifab-no-shadow {
  box-shadow: none !important;
}
