<div class="container" style="margin:25px;">

  <div fxLayout="row" fxLayoutAlign="space-between" style="display:flex;" fxLayoutGap="20px">
    <div fxLayout="column" style="width: 50%;">
      <div class="container" style="border: 1px solid #ffbb33; border-radius:4px;padding:15px;">
        <p><b>SICOVAL</b></p>
        <p>IP: David Sánchez Martín <span style="color: #ff8f00">Universitat de les Illes Balears / Instituto de Física Inerdisciplinar y Sistemas Complejos</span></p>
        <p><b>COMEM</b></p>
        <p>IP: Ruth Miguel Franco <span style="color: #ff8f00">Universitat de les Illes Balears</span></p>
      </div>
    </div>
    <div fxLayout="column" style="width: 50%; padding: 15px;">
      <p><b>SICOVAL</b></p>
      <p>IP: David Sánchez Martín <span style="color: #ff8f00">Universitat de les Illes Balears / Instituto de Física Inerdisciplinar y Sistemas Complejos</span></p>
      <p>Tobias Galla <span style="color: #ff8f00">CSIC / IFISC</span></p>
      <p>Thomas Louf <span style="color: #ff8f00">CSIC / IFISC</span></p>
      <p>José Javier Ramasco Sukia <span style="color: #ff8f00">CSIC / IFISC</span></p>

      <p><b>COMEM</b></p>
      <p>IP: Ruth Miguel Franco <span style="color: #ff8f00"> Universitat de les Illes Balears</span></p>
      <p>Antonio Bernat Vistarini <span style="color: #ff8f00">Universitat de les Illes Balears</span></p>
      <p>Laura Camargo Fernández <span style="color: #ff8f00">Universitat de les Illes Balears</span></p>
      <p>Andrés Enrique-Arias <span style="color: #ff8f00">Universitat de les Illes Balears</span></p>
      <p>Sara Gómez Seibane <span style="color: #ff8f00">Universidad de La Rioja</span></p>
      <p>Beatriz Méndez Guerrero <span style="color: #ff8f00">Universidad Autónoma de Madrid</span></p>
      <p>Bàrbara Montoya <span style="color: #ff8f00">Universitat de les Illes Balears Boix</span></p>
      <p>Paolo Roseano <span style="color: #ff8f00">Universidad Nacional de Educación a Distancia</span></p>
      <p>Mª Assumpció Rost Bagudanch <span style="color: #ff8f00">Universitat de les Illes Balears</span></p>

    </div>
  </div>

</div>
