<form [formGroup]="form"
      (ngSubmit)="onFormSubmit()"
      class="form-material"
      style="margin-top: 15px !important">


  <div style="margin-bottom:14px!important;">
   
    <mat-form-field class="form-element">
      <mat-label>Tipo de documento</mat-label>
      <mat-select name="doctype"
                  id="doctype"
                  formControlName="doctype"
                  required
                  (selectionChange)="docTypeChange($event)">
        <mat-option>None</mat-option>
        <mat-option value="historical">Documento histórico</mat-option>
        <mat-option value="interview">Entrevista</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="form-element">
      <mat-label>Nombre</mat-label>
      <input matInput
             name="name"
             id="name"
             formControlName="name"
             required />
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Contenido</mat-label>
      <input matInput
             name="content"
             id="content"
             formControlName="content"
             required />
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Autor</mat-label>
      <mat-select name="author"
                  id="author"
                  formControlName="author"
                  required
                  (selectionChange)="userChange($event)">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let user of users" [value]="user.id">{{user.name}}</mat-option>
      </mat-select>
    </mat-form-field>


  </div>
  <button mat-button type="submit" color="primary">
    Aceptar
  </button>

</form>
