<p>documentos-form works!</p>
<form [formGroup]="form"
      (ngSubmit)="onFormSubmit()"
      class="form-material"
      style="margin-top: 15px !important">


  <div style="margin-bottom:14px!important;">

    <mat-form-field class="form-element">
      <mat-label>Id</mat-label>
      <input matInput
             name="id"
             id="id"
             formControlName="id"
             readonly
             required />
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Nombre</mat-label>
      <input matInput
             name="name"
             id="name"
             formControlName="name"
             required />
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Contenido</mat-label>
      <input matInput
             name="content"
             id="content"
             formControlName="content"
             required />
    </mat-form-field>

    <mat-form-field class="form-element">
      <mat-label>Autor</mat-label>
      <input matInput             
             name="author"
             id="author"
             formControlName="author"
             required />
    </mat-form-field>


  </div>
  <button mat-button type="submit" color="primary">
    Aceptar
  </button>

</form>
