.form-element {
  padding: 5px 0px 25px 2px;
  width: 100%;
}
.flex-form-fields {
  display: flex;
  align-items: flex-start;
  gap: 1em
}
.flex-form-fields-audio {
  display: flex;
  align-items: flex-start;
  gap: 1em;
  align-items: center
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}
