<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" style="color: #f7d61a !important; font-weight:bolder;">CAFECONMIEL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
              aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a class="nav-link text-dark" (click)="setOptionMenu('p')" style="color: #f7d61a !important; cursor: pointer; border: 1px solid #f7d61a; border-radius: 4px;margin:2px;">Presentación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" (click)="setOptionMenu('e')" style="color: #f7d61a !important; cursor: pointer; border: 1px solid #f7d61a; border-radius: 4px; margin: 2px; ">Equipo de investigación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" (click)="setOptionMenu('c')" style="color: #f7d61a !important; cursor: pointer; border: 1px solid #f7d61a; border-radius: 4px; margin: 2px; ">Consulta de los corpus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" (click)="setOptionMenu('b')" style="color: #f7d61a !important; cursor: pointer; border: 1px solid #f7d61a; border-radius: 4px; margin: 2px; ">Bibliografía y actividades</a>
          </li>
          <li class="nav-item" *ngIf="token == ''">
            <a class="nav-link text-dark" (click)="setOptionMenu('l')" style="color: #f7d61a !important; cursor: pointer; border: 1px solid #f7d61a; border-radius: 4px; margin: 2px; ">Login</a>
          </li>
          <li class="nav-item" *ngIf="token != ''">
            <a class="nav-link text-dark" (click)="setOptionMenu('a')" style="color: #f7d61a !important; cursor: pointer; border: 1px solid #f7d61a; border-radius: 4px; margin: 2px; ">Admin</a>
          </li>
          <li class="nav-item" *ngIf="token != ''">
            <a class="nav-link text-dark" (click)="closeConnection()" style="color: #f7d61a !important; cursor: pointer; border: 1px solid #f7d61a; border-radius: 4px; margin: 2px; ">Cerrar conexión</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

</header>
