<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" style="color: #f7d61a !important; font-weight:bolder;">CAFECONMIEL</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
              aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" style="cursor:pointer">
            <a class="nav-link" (click)="setOptionMenu('p')">Presentación</a>
          </li>
          <li class="nav-item" style="cursor:pointer">
            <a class="nav-link" (click)="setOptionMenu('e')">Equipo de investigación</a>
          </li>
          <li class="nav-item" style="cursor:pointer">
            <a class="nav-link" (click)="setOptionMenu('c')">Consulta de los corpus</a>
          </li>
          <li class="nav-item" style="cursor:pointer">
            <a class="nav-link" (click)="setOptionMenu('b')">Bibliografía y actividades</a>
          </li>
          <li class="nav-item" *ngIf="!loginredux || loginredux.token == ''" style="cursor:pointer">
            <a class="nav-link" (click)="openLoginModal()">Login</a>
          </li>


          <li class="nav-item" *ngIf="loginredux && loginredux.token != ''" style="cursor:pointer">
            <a href="#" class="nav-link"
               id="navbarDropdownMenuLink" [matMenuTriggerFor]="admin">
              Admin
            </a>
            <mat-menu #admin="matMenu">
              <div class="container">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item" style="cursor:pointer">
                    <a class="dropdown-item" (click)="setOptionMenu('d')">Documentos</a>
                  </li>
                  <li class="nav-item" style="cursor:pointer">
                    <a class="dropdown-item" (click)="setOptionMenu('a')" *ngIf="loginredux && loginredux.token != '' && loginredux.isAdmin">Usuarios</a>
                  </li>
                  <li class="nav-item" style="cursor:pointer">
                    <a class="dropdown-item" (click)="closeConnection()">Cerrar conexión</a>
                  </li>
                </ul>
              </div>
            </mat-menu>
          </li>

        </ul>
      </div>
    </div>
  </nav>



</header>
